name: Renovate AVM Bicep modules

on:
  workflow_dispatch:  # Allows manual triggering
  # schedule:
  #   - cron: "0 3 * * *" # Runs every day at 3 AM UTC
permissions:
  id-token: write
  checks: write
  statuses: write
  contents: write
  issues: write
  pull-requests: write
  actions: write

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Run Renovate
        uses: renovatebot/github-action@v43.0.14
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          configurationFile: .github/workflows/helpers/renovate-config.json
        env:
          LOG_LEVEL: 'debug'
